body { 
	font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
	padding-bottom: 270px; 
}

table {
	border:0;
	padding:0;
	margin:10px 0px;
}

td, th {
	padding:2px 8px;
}

tr {
	border-bottom:solid thin #bbb;
}

/*small titles*/
@media all and (max-width: 640px) {
    h1{font-size: 24px;}
    h2{font-size: 18px;}
    h3{font-size: 16px;}
    h4{font-size: 14px;}
    body{font-size:14px;}
}

/*extra small titles*/
@media all and (max-width: 320px) {
	h1{font-size: 20px;}
    h2{font-size: 18px;}
    h3{font-size: 16px;}
    h4{font-size: 14px;}
    body{font-size:12px;}
}

pre
{
	margin-top:10px;
}

/* override prettify to show all line numbers */
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8
{ list-style-type: decimal !important}


.mce-item-table td, th{
	font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
}

.clearfix {
	clear:both;
}

.login {
	max-width:500px;
	margin:0px auto;
}

#login_form {
	margin-top:20px;
}

.login-title {
	margin-bottom:10px;
}

.login-register-link {
	margin-top:30px;
	margin-bottom:0px;
}

.login-register-benefits {
	text-align:left;
	font-size:14px;
	color:#666;
}

.jumbotron p {
	font-size:14px;
}

.folat_logo_text_header {
	font-family: 'Francois One', sans-serif;
	font-size:28px;
	color:#10ADF5;
}

.folat_logo_text
{
	font-family: 'Francois One', sans-serif;
	font-size:28px;
	color:#666;
}

.no-courses-in-category {
	margin-top:100px;
}

.folat_header_logo_img{
	width:65px;
	height:55px;
	margin-top:-20px;
}

.course_cat_listing {
	border:thin solid #ccc;
	border-radius:4px;
	padding:0px 10px;
	margin-bottom:10px;
}

.course-info-listing {
	padding-bottom:10px;
	font-size:14px;
}

.course-info-listing .btn-xs {
	font-size:14px;
}

.course-info-listing a h4 {
	margin-bottom:-10px;
}


.course_listing_img {
	padding-right:10px;
	padding-bottom:10px;
	padding-top:5px;
}

.course-title {
	padding:10px 0px;
}

.course-info-img {
	padding:12px 0px;
}

.course-info-desc {
	padding:10px 0px;
}

.course-info {
	padding:15px;
}

.footer {
	color:#fff;
	text-align:center;
	padding:20px;
}

.main-container {
	padding-top:10px;
}

.category-list {
	padding:0px;
}

.go-to-class-btn {
	margin:20px 60px;
}

.drop-out-btn {
	margin:20px 60px;
}

.manage-course-btn {
	margin:20px 60px;
}

.delete-course-btn {
	margin:20px 60px;
}


.edit_profile_link {
	display:inline-block;
	padding-top:20px;
}

a:hover, a:focus {
	text-decoration: none;
}

.account-alerts {
	padding-top:40px;
}

.account-alert {
	margin-bottom:10px;
}

.account-about-me {
	min-height:110px;
}

.account-browse-courses-btn {
	margin-top:20px;
}

.account-new-course-btn {
	margin-top:20px;
}

#profile_image {
	width:180px;
	height:200px;
	margin:10px;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

.create-course-submit-btn {
	width:100%;
	margin-top:20px;
	padding-top:10px;
	padding-bottom:10px;
}

.update-course-submit-btn {
	width:50%;
	margin-top:40px;
	margin-bottom:50px;
	padding-top:10px;
	padding-bottom:10px;
}

.no-padding {
	padding:0px;
}

.course-update-note {
	padding-top:10px;
}

a.request-new-cat {
	background-color:#ddd;
}

a.subcat-link {
	font-size:12px;
	padding-left:40px;
}

a.subcat-link.active {
	background-color:#c6e0f4;
	color:#333;
}

a.subcat-link.active:hover {
	background-color:#509ad3;
}

a.subcat-link .glyphicon{
	font-size:10px;
}

.course-image-link {
	border:none;
}

.btn-subcat {
	background-color:#C6E0F4;
}

.course-detail-modules-section {
	margin:20px 0px;
}

.enroll-section {
	margin:20px 0px;
}

.course-action-menu {
	float:right;
}

.create-course-container {
	max-width:600px;
	margin:10px auto;
	padding:20px;
	background-color:#eee;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

.help-text-modules {
	background:#eee;
	border:thin solid #999;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	padding:20px;
	max-width:800px;
	margin:0px auto;
	text-align:justify;
}

.help-text-add-content {
	background:#eee;
	border:thin solid #999;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	padding:20px;
	text-align:justify;
	margin-bottom:10px;
	margin-top:5px;
	margin-left:auto;
	margin-right:auto;
	max-width:600px;
}

.create-module-submit-btn {
	margin:50px auto;
	width:50%;
	padding-top:10px;
	padding-bottom:10px;
}

.creat-new-module-btn {
	margin:15px;
}

.module-list-info {
	text-align:left;
	font-size:14px;
}

.module-list-title {
	text-align:left;
	font-size:18px;
}

.module-list-summary {
	text-align: justify;
	font-size:14;
	padding:10px;
	padding-left:15px;
	padding-right:20px;
}

.module-list-options {
	text-align: right;
	font-size:12;
}

.slide-list-question {
	background:#d0edec;
	border:thin solid #999;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	padding:10px;
	text-align:left;
	margin-bottom:5px;
}

.add-new-slide-button {
	margin:20px auto;
}

.form-tooltip-button {
	font-size:11px;
	padding:2px 6px;
	margin:5px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	background-color:#aaa;
	border-color:#666;
}


.slide-list-references {
	padding-top:10px;
}

.edit-module-link {
	padding-right:30px;
}

.text-module-slide-listing {
	margin-bottom:10px;
	border-color:#999;
}

#add_review_question_btn {
	margin-top:10px;
}

.edit-content-slide-body {
	padding-bottom:20px;
}

#create_module_form_container {
	background-color:#eee;
	padding:20px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	margin:20px auto;
}

#register_container {
	background-color:#eee;
	max-width:600px;
	padding:20px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	margin:20px auto;
}

.course_info_extra {
	display:none;
}

.module_info_extra {
	display:none;
	padding-top:10px;
}

.list-course-title {
	line-height:15px;
}

.list-module-title {
	line-height:0px;
	padding-bottom:5px;
	font-weight:bold;
	color:#555;
}

.list-course-info-btn {
	font-size:18px;
	padding-top:15px;
}

.list-module-info-btn {
	font-size:18px;
}

.module-list-row {
	max-width:800px;
	margin:0px auto;
	background-color:#efefef;
}

.course-details-img {
	max-width:350px;
}

.class-room-module-item {
	max-width:500px;
	background-color:#e9e9e9;
	padding:12px;
	border:thin solid #aaa;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin:10px 10px;
	-webkit-box-shadow: 5px 5px 5px -5px rgba(99,99,99,1);
	-moz-box-shadow: 5px 5px 5px -5px rgba(99,99,99,1);
	box-shadow: 5px 5px 5px -5px rgba(99,99,99,1);
}

.main-active-module {
	background: #f4fbff;
}

.slide_row_container {
	min-height:400px;
	overflow:hidden;
	margin:0px auto;
}

.module_text_slide {
	display:none;
	max-width:600px;
	min-height:350px;
	padding:20px;
	padding-top:0px;
	margin:20px auto;
	border:thin solid #ddd;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-webkit-box-shadow: 14px 15px 30px -5px rgba(99,99,99,1);
	-moz-box-shadow: 14px 15px 30px -5px rgba(99,99,99,1);
	box-shadow: 14px 15px 30px -5px rgba(99,99,99,1);
	background: #f4fbff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZmJmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f4fbff 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4fbff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f4fbff 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f4fbff 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f4fbff 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f4fbff 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4fbff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */

}

.module_slide_controls {
	max-width:600px;
	margin:10px auto;
	padding:5px 40px;
	font-size:18px;
}

.module_slide_controls .previous_arrow{
	float:left;
	font-size:32px;
}

.module_slide_controls .next_arrow{
	float:right;
	font-size:32px;
}

.module_slide_references {
	position:absolute; 
	bottom:0;
	font-size:12px;
	font-style:italic;
	border-top:thin solid #999;
	padding:10px;
	margin-left:-20px;
	width:100%;
}

#start_review_btn {
	display:none;
	max-width:180px;
	float:right;
}

#module_review {
	display:none;
	margin:90px auto;
	padding:20px;
	padding-top:0px;
	overflow:hidden;
}

.classroom_review_question {
	display:none;
	max-width:700px;
	text-align:left;
	padding:10px;
	margin:20px auto;
	border:thin solid #ddd;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-webkit-box-shadow: 14px 15px 30px -5px rgba(99,99,99,1);
	-moz-box-shadow: 14px 15px 30px -5px rgba(99,99,99,1);
	box-shadow: 14px 15px 30px -5px rgba(99,99,99,1);
	background: #efefef;
}

.classroom_review_question .question{
	font-size:18px;
}

.classroom_answer_option {
	text-align:left;
	float:left;
	border:thin solid #333;
	padding:5px 10px;
	margin:5px;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	background: #666;
	color:#fff;
}

.classroom_answer_option:hover{
	background:#fff;
}

.classroom_answer_option:focus{
	background:#ccc;
}

.classroom_answer_disabled{
	text-align:left;
	float:left;
	border:thin solid #999;
	padding:5px 10px;
	margin:5px;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	background: #cecece;
	color:#fff;
}

.classroom_answer_disabled:hover{
	color:#fff;
}

.classroom_answer_disabled:focus{
	color:#fff;
}

.classroom_answer_correct{
	background-color:#1EAD1B;
}

.classroom_answer_incorrect{
	background-color:#C41F1F;
}

.check_answer_results {
	border-top:thin solid #ccc;
	margin:10px 0px;
	padding:10px;
}

.rev-res-number {
	font-size:18px;
	font-weight:bold;
	width:30px;
	float:left;
	padding-right:10px;
}

.rev-res-correct-mark {
	float:left;
	color:#1DC400;
	font-size:18px;
}

.rev-res-incorrect-mark {
	float:left;
	color:#EE2F24;
	font-size:18px;
}

.rev-res-score {
	text-align:left;
}

.rev-res-row {
	text-align:left;
	border:thin solid #333;
	padding:10px;
	margin:5px;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	background: #eee;
}

.main-correct-mark {
	float:left;
	color:#1DC400;
	font-size:14px;
}

.main-incorrect-mark {
	float:left;
	color:#EE2F24;
	font-size:14px;
}

#classrm-next-module-btn {
	margin:10px;
}

#back-to-course-btn {
	margin-bottom:10px;
}